{
    email danibo@proton.me
}

moodle.techne.guru {
    # Moodle (Bitnami) bruker vanligvis 8080 i containeren:
    reverse_proxy moodle-app:8080
}

prosjekt.techne.guru {
    # OpenProject-community:12 bruker ofte port 80 i containeren
    reverse_proxy openproject-app:80
}
